/* Algemene styling */
html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
/* Home styling */
.main-heading {
    text-align: center;
}
.homecontainer{
  margin-top: 60px;
  width: 100vw;
  height: 70vh;
  /* border: 1px solid; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.homeimg1{
  position: relative;
    top: 4%;
  width: 35%;
  height: 88%
}
.homeimg2{
  position: relative;
    top: 4%;
    left: 4%;
  width: 20%;
  height: 88%;
}
.div1{
  width: 45%;
  height: 90%;
  border: 1px solid;
}
.topweetjes{
  position: relative;
    left: 8%;
  height: 90%;
  width: 10%;
  border: 1px solid;
}
.homeline{
  opacity: 0.2;
  position: relative;
    left: 5vw;
  border-top: 2px solid;
  width: 90vw;
  margin-bottom: 10px;
}
.homep{
  position: relative;
    left: 46vw;
}
.homeimgbot{
  margin-right: 15px;
  width: 40%;
  height: 80%;
}
.homecontcolumn{
  position: relative;
    left: 25%;
  justify-content: flex-start;
  flex-direction: column;
}
.homecontrow{
  display: flex;
  height: 30%;
  width: 50%;
  flex-direction: row;
}
.homeweetje{
  position: relative;
    top: 40px;
    right: 30px;
}

/*Contact Section*/



.container {
  background: #FFFFFF;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  position: relative;
}

.container .map {
  width: 45%;
  float: left;
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}

.parallax {
  background-image: url("../img/contact_us.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}